*{
    background-color:#CCCC66;
}
h1,h2,ul li{
    color: #533b2a;
}
.tablaCultivo thead ,th, td {
    border: solid 2px black;
}
.tablaCultivo {
    border-collapse: collapse;
    width: 70%;
}
#principal{
    width: 70%;
    border-right: 10px solid rgb(83,59,42) ;
}
#prepracionMain{
    display: flex;
}
#prepracionMain >aside{
    width: min-content;
}